.jumbotron
  %h1 RUNPA
  %h2 Registro Único Nacional de Productores Agropecuarios

  %p RUNPA tiene por objeto unificar el registro de los sujetos de la producción agrícola, cría de ganado, aves u otras especies, recursos forestales, recolección o extracción de especies no maderables, caza o pesca.
  %p
    %a.btn.btn-lg.btn-primary{href: "../../components/#navbar", role: "button"} View navbar docs »
