development:
  adapter: postgresql
  encoding: unicode
  database: runpa_development
  pool: 5
  username: juanca
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: runpa_test
  pool: 5
  username: juanca
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: runpa_development
  pool: 5
  username: juanca
  password:
