/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require main
 */
@import "twitter/bootstrap";
@import 'anjlab/datepicker';
@import 'anjlab/timepicker';
.container{
  width: 90%;
}
body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
legend{
	font-weight: bold;
}
form{
	label{
		font-weight: normal;
	}
}

.table{ 
  thead{
    tr{
      th{
          vertical-align: inherit;
          text-align: center;
      }
    }
  }
  tbody{
    td{
      div{
        .control-group{
          margin-bottom: 0px; 
        }         
      }
    }
  }
}

.well.form-actions.well_submit{
  height: 70px;
}

.form-actions.navsteps{
  margin-bottom: 20px;
}

// .form-register{
//   input[type=text]{
//     text-transform: uppercase;
//   }
// }