%p
  Hola #{@resource.email}!
%p Alguien ha pedido un enlace para cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace.
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token)
%p Si usted no ha solicitado esto, por favor ignore este mensaje.
%p Tu contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.
