.form-actions.navsteps
  %a.btn.btn-primary.btn-large{ href: previous_wizard_path }
    .glyphicon.glyphicon-chevron-left
    Atrás

  %a.btn.btn-primary.btn-large.pull-right{ href: next_wizard_path }
    Siguiente
    .glyphicon.glyphicon-chevron-right