.table-responsive
  %table.table.table-bordered.table_register.table_partnerships
    %tbody
      %tr
      = f.simple_fields_for :partnerships do |partnership| 
        %tr
          %td.col-sm-9
            = partnership.input_field :name
          %td.col-sm-1
            Cód:
          %td.col-sm-2
            = partnership.input_field :code
          %td.col-sm-1
            = partnership.check_box :_destroy, class: 'hide' 
            %a.btn.btn-danger.btn-small.static_partnerships
              .glyphicon.glyphicon-remove