%h1 Lista de Registros

%table.table.table-striped
  %tr
    %th.col-sm-1 Código
    %th.col-sm-5 Titular 1
    %th.col-sm-5 Titular 2
    %th.col-sm-1

  - @registers.each do |register|
    %tr
      %td= register.code
      %td= register.holders.first.person.name rescue ''
      %td= register.holders.last.person.name rescue ''
      %td
        %a.btn.btn-success.btn-small{href: register_path(register)}
          .glyphicon.glyphicon-eye-open
          Ver