<h1>New register</h1>

<form id="new-register" name="register">
  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Register" />
  </div>

</form>

<a href="#/index">Back</a>